@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Enriqueta:wght@400;500;600;700&family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-red: #e21c2a;
    --color-orange: #f58b14;
    --color-white: #fefefe;
    --color-black: #1e0c0d;
    --font-enriqueta: "Enriqueta", serif;
    --font-averia-libre: "Averia Libre", system-ui;
    --font-gfs-neohellenic: "GFS Neohellenic", sans-serif;
}

body {
    font-family: var(--font-gfs-neohellenic);
    color: var(--color-black);
    background-color: var(--color-white);
}

h1 {
    font-family: var(--font-averia-libre);
}

h2, h3, h4, h5, h6 {
    font-family: var(--font-enriqueta);
}